<!doctype html>

<html>
  <head>
    <title>My Portfolio</title>
    <style>
      /* Add CSS styling for the table */
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        text-align: left;
        padding: 8px;
      }

	  body {
  		background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80.jpg");
  		background-repeat: no-repeat;
  		background-size: cover;
	  }
    </style>
  </head>
  <body>
    <h1>My Portfolio</h1>
    <h2>Stocks in the Portfolio:</h2>
    <table>
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for ticker, quantity in portfolio.items() %}
          <tr>
            <td>{{ ticker }}</td>
            <td>{{ quantity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Portfolio Risk:</h2>
    <p>{{ portfolio_risk_info }}%</p>

    <h2>Portfolio Growth:</h2>
    <p>{{ portfolio_growth_info }}%</p>

    <h2>Portfolio Diversification:</h2>
    <p>{{ portfolio_diversification_info }}</p>

	<button type="button" onclick="location.href='/'">New Search</button>
  </body>
</html>